.produce-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* background-color: rgb(225, 215, 250); */
}

.produce-list li {
	margin: 10px;
	width: 400px;
	background-color: blanchedalmond;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	border: 1px solid gray;
	border-radius: 16px;
	padding: 16px;
}

.produce-list li:last-child {
	margin-bottom: 0;
}

.like-button,
.plus-button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	color: red;
	background-color: white;
}

button.selected {
	color: white;
	background-color: red;
}
